$font-path: '../../public/fonts';
@font-face{
  src: url('#{$font-path}/PipersPlayroomRegular.ttf');
  font-family: 'PipersPlayroomRegular'
}

.pipersPlayroom {
  font-family: 'PipersPlayroomRegular';
  font-size: xx-large;
}

.headerStyle {
  height: 100px;
  align-content: 'center'; 
  background-color: rgb(48,0,96);
}

.pipersRegular {
  font-family: 'PipersPlayroomRegular';
  font-size: 'large';
}

.infoRegular {
  font-size: '33px'
}

.dogCard {
  border-radius: 12px !important;
  border-width: 6px !important;
  border-style: solid;
}

.loginButton {
  border-style: solid !important;
  border-radius: 24px !important;
  border-width: 4px !important;
  border-color: rgb(48,0,96) !important;
  background-color: rgb(96,0,192) !important;
  color: white !important;
}

.logoutButton {
  color: white !important;
}

.secondaryButton {
  width: 140px;
  border-radius: 24px !important;
  background-color: rgb(48,0,96) !important;
  color: white !important;

}